/* Resetando margens e espaçamentos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: thistle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Estilo da seção */
section {
    display: flex;
    align-items: center;
    background-color: black;
    color: white; /* Cor do texto branca */
    margin: 10px 0; /* Margem de 10px em cima e em baixo */
    padding: 10px 20px; /* Espaçamento interno de 10px em cima e em baixo, e 20px dos lados */
}

div{
    padding: 30px;
}

@media screen and (min-width:1024px) {
    header{
        background-color: brown;
    }
}
    
margin: 0; 
} 
header { 
display: flex; 
} 
align-items: center; 
padding: 12px; 
justify-content: space-around; background-color: black; 
color: white; 
position: relative; /* Importante para o menu tomar como referência */ 
ul li{ 
list-style: none; 
.texto{ 
color: 
white; 
} 
a{ 
} 
color: 
white; 
text-decoration: none; 
.lista{ 
display: none; 
position: absolute; /* Aqui está definindo onde o menu irá aparecer */ 
top: 100%; 
background-color: rgb(99, 72, 72); 
width: 100%; 
padding: 20px 0; 
text-align: center; 
} 
/* Fazendo o menu aparecer quando clicado */ 
.caixa:checked .lista{ 
display: block; 
/* Desaparecendo a caixa de seleção 
#menu{ 
display: none; 
.lista-item{ 
padding: 12px 0; 
} 
https://onedrive.live.com/redir?resid=E0E030A47199427D%215253&page=Edit&wd=target%28Seção sem Título.one%7C9c09f1a1-a0ab-4020-... 1/2 
12/06/2024, 07:12 
/* Responsividade 
ideia */  –
@media screen and (min-width: 1024px) { 
} 
.lista{ 
right: 8%; 
width: 14%; 
padding: 20px; 
text-align: start; 
.lista-item:hover{ 
background-color: rgb(119, 51, 51); 
Pesquisas também são interessantes, como Menu - Codepen. 
OneNote 
https://onedrive.live.com/redir?resid=E0E030A47199427D%215253
